# Internal MongoDB cluster used by this application.
MONGO_URI=mongodb://10.17.159.232:27017,10.17.159.228:27017,10.17.158.254:27017/?authSource=admin
MONGO_DB_NAME=byte-firmware-checker
MONGO_USERNAME=byte-firmware-checker
MONGO_AUTH_SOURCE=admin

MONGO_PASSWORD=@%cB+JRqo_GU9s39mTmABhtv
